# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor and IDE Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency Directories
node_modules/
vendor/

# Compiled Source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite


